name: Clone test repo with token from GitHub App
on:
  push:
  workflow_dispatch:

jobs:
  test_clone:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        name: First Checkout Step
        with:
          path: 'Action_Test_01'  # 相対パス

      - uses: tibdex/github-app-token@v1
        id: get_installation_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ReoKano/Action_Test_01
          token: ${{ steps.get_installation_token.outputs.token }}
          path: 'Action_Test_01_CloneTest'  # 相対パス

      - name: Create Directory
        run: mkdir -p D:\work\ツール開発Gr\07_トヨタ大部屋対応\Action_Test_01_CloneTest   # 絶対パス

      - name: Clone Repository
        run: |
          cd D:\work\ツール開発Gr\07_トヨタ大部屋対応\Action_Test_01_CloneTest    # 絶対パス
          git clone https://x-access-token:${{ steps.get_installation_token.outputs.token }}@github.com/ReoKano/Action_Test_01.git